# Looking at Land Cover / Land Use Change (LCLUC) and Population Shifts over 20 years in the Arabian Peninsula
#### Developed by Eqi Luo, Spring 2024.
*this notebook is documented as part of the submission for LRES525 Applied Remote Sensing at Montana State Univerisity Bozeman*

In [1]:
# Import dependices 
import os
import rasterio
import numpy as np
import dask.array as da
import pandas as pd
import matplotlib as plt

## PART I: Calculating LCLU and Population Change Matrix 

The main input data for this  include: 
- [GHS Gridded Population](https://human-settlement.emergency.copernicus.eu/ghs_pop2023.php) resampled to 30m from 100m
- Land Cover Land Use Change from the [GLAD dataset](https://storage.googleapis.com/earthenginepartners-hansen/GLCLU2000-2020/v2/download.html) at 30m resolution.

Before visualizing the relationships between population and LCLUC in the Arabian Peninsula, we need to analyze the raster files and summarize the change information in tabular (.csv) format. The following codes perform the pre-processing:

### 1.1 Land Cover and Land Use Change
First, we have the layer of land use land cover of UAE for both 2000 and 2020. They are reclassified to 5 lclu classes, and the pixel values represent: 

| Pixel Value | Description |
| :---------- | :---------- |
| **1**    | Built Up |
| **2**     | Cropland |
| **3** | Vegetation |
| **4** | Barren |
| **5** | Water |

 To assess the change at pixel level, we will generate a lclu change layer and also summarize lcluc as a change matrix.

#### <ins>LCLU Change Matrix</ins>
The change matrix summarizes the change information of LCLU classes at pixel level, returning a 5*\5 matrix

In [2]:
# Function to calculate land cover/land use change matrix

def calculate_transition_block(lclu_2000, lclu_2020):
    """
    Calculates a transition matrix between two land cover/land use (LCLU) classes over different years using Dask arrays.

    Parameters:
        lclu_2000 (Dask Array): The Dask array representing LCLU classes for the year 2000.
        lclu_2020 (Dask Array): The Dask array representing LCLU classes for the year 2020.

    Returns:
        Dask Array: A 5x5 Dask array where each element (i, j) represents the count of pixels transitioning
                    from class i in 2000 to class j in 2020. The classes are indexed from 1 to 5.
    """
    transition_block = da.zeros((5, 5), dtype=int)
    for i in range(1, 6):
        for j in range(1, 6):
            from_class = (lclu_2000 == i)
            to_class = (lclu_2020 == j)
            transition_block[i-1, j-1] += np.sum(from_class & to_class)
    return transition_block

In [3]:
# Define file paths for the raster layers 
lclu_2000_fn = './data/lclu/LCLU_Arabian_Peninsula_2000.tif'
lclu_2020_fn = './data/lclu/LCLU_Arabian_Peninsula_2020.tif'

In [4]:
# Load raster data using Dask for both years
lclu_2000 = da.from_array(rasterio.open(lclu_2000_fn).read(1), chunks='auto')
lclu_2020 = da.from_array(rasterio.open(lclu_2020_fn).read(1), chunks='auto')

RasterioIOError: ./data/lclu/GLCLU2000_United_Arab_Emirates.tif: No such file or directory

In [5]:
# Calculate the transition matrix
transition_matrix = calculate_transition_block(lclu_2000, lclu_2020).compute()
transition_matrix

array([[ 2062860,        0,        0,        0,        0],
       [   91310,    32467,    59849,   273853,       10],
       [  137674,     7683,   158579,   234941,    10335],
       [ 2823461,    77259,   220316, 94524070,   248816],
       [   58194,       74,    17658,   200221, 13541166]])

In [6]:
# Define the grid cell size in meters (assuming 30m x 30m cells)
grid_size_meters = 30
grid_size_sqkm = (grid_size_meters / 1000) ** 2

# Convert transition matrix to square kilometers
transition_matrix_sqkm = np.round(transition_matrix * grid_size_sqkm, 2)

In [7]:
# Define class names
class_names = ["Built Up", "Cropland", "Vegetation", "Barren", "Water"]

In [8]:
# Convert transition matrix to DataFrame and format for easier analysis
df = pd.DataFrame(transition_matrix_sqkm, columns=class_names, index=class_names)
melted_df = pd.melt(df.reset_index(), id_vars='index', var_name='class_2020', value_name='area_change')
melted_df.rename(columns={'index': 'class_2000'}, inplace=True)

# Print or save the DataFrame
print(melted_df)

    class_2000  class_2020  area_change
0     Built Up    Built Up      1856.57
1     Cropland    Built Up        82.18
2   Vegetation    Built Up       123.91
3       Barren    Built Up      2541.11
4        Water    Built Up        52.37
5     Built Up    Cropland         0.00
6     Cropland    Cropland        29.22
7   Vegetation    Cropland         6.91
8       Barren    Cropland        69.53
9        Water    Cropland         0.07
10    Built Up  Vegetation         0.00
11    Cropland  Vegetation        53.86
12  Vegetation  Vegetation       142.72
13      Barren  Vegetation       198.28
14       Water  Vegetation        15.89
15    Built Up      Barren         0.00
16    Cropland      Barren       246.47
17  Vegetation      Barren       211.45
18      Barren      Barren     85071.66
19       Water      Barren       180.20
20    Built Up       Water         0.00
21    Cropland       Water         0.01
22  Vegetation       Water         9.30
23      Barren       Water       223.93
24       Water       Water     12187.05

<ins>LCLU Change Layer</ins>

In [9]:
def read_raster_to_dask_array(raster_path, chunks='auto'):
    """
    Reads a raster file into a Dask array, masking out the nodata values.
    
    Parameters:
        raster_path (str): Path to the raster file.
        chunks (str or tuple): Chunk size for Dask array. 'auto' lets Dask decide.
    
    Returns:
        tuple: A tuple containing the Dask array with data and the raster profile.
    """
    with rasterio.open(raster_path) as src:
        data = da.ma.masked_equal(da.from_array(src.read(1), chunks=chunks), src.nodata)
        profile = src.profile.copy()
    return data, profile

def calculate_change_code(lclu_old, lclu_new):
    """
    Calculates the change code between two Dask arrays representing LCLU data.
    
    Parameters:
        lclu_old (Dask Array): The Dask array for the earlier LCLU data.
        lclu_new (Dask Array): The Dask array for the later LCLU data.
    
    Returns:
        Dask Array: The Dask array representing the LCLU change code.
    """
    return (lclu_old * 10 + lclu_new).astype('uint8')

def calculate_lclu_change_layer(path_lclu_2000, path_lclu_2020, output_path):
    """
    Processes LCLU change between two years for a single country and saves the output as raster .tif.
    
    Parameters:
        path_lclu_2000 (str): Path to the LCLU data for the year 2000.
        path_lclu_2020 (str): Path to the LCLU data for the year 2020.
        output_path (str): Path where the output change file will be saved.
    """
    
    # Read the raster datasets into Dask arrays, masking nodata values
    lclu_2000, profile_2000 = read_raster_to_dask_array(path_lclu_2000)
    lclu_2020, profile_2020 = read_raster_to_dask_array(path_lclu_2020)
    
    # Check if the nodata values are consistent between the two datasets
    if profile_2000['nodata'] != profile_2020['nodata']:
        print("Nodata values do not match.")
        return
    
    # Calculate the change codes using the Dask arrays
    change_matrix_code = calculate_change_code(lclu_2000, lclu_2020)
    
    # Prepare the output raster's profile
    profile_2000.update(dtype='uint8', count=1, compress='DEFLATE')
    
    # Write the LCLUC change layer to a new raster file
    with rasterio.open(output_path, 'w', **profile_2000) as dst:
        dst.write(change_matrix_code.compute(), 1)

In [10]:
# specify the raster output path
output_path = './data/lclu/LCLUC_2000-2020_UAE.tif'

# generate the lcluc raster layer
calculate_lclu_change_layer(lclu_2000_fn, lclu_2020_fn, output_path)

#### 1.2 Population Change
Next, let's calculate the population change from 2000 to 2020 at the pixel level, and also its distribution on different LCLUC.

<ins> Population Change Raster </ins>

In [11]:
# Define file paths for the population layers 
pop_2000_fn = './data/population/ghs_pop_2000_United_Arab_Emirates_30m.tif'
pop_2020_fn = './data/population/ghs_pop_2020_United_Arab_Emirates_30m.tif'

# Define the output population change layer
output_path = './data/population/ghs_pop_change_2000-2020.tif'

In [12]:
def calculate_pop_change_layer(path_pop_2000, path_pop_2020, output_path):
    """
    Processes population change between two years for a single country and saves the output as raster .tif.
    
    Parameters:
        path_pop_2000 (str): Path to the population data for the year 2000.
        path_pop_2020 (str): Path to the population data for the year 2020.
        output_path (str): Path where the output change file will be saved.
    """
    
    # Read the raster datasets into Dask arrays, masking nodata values
    pop_2000, profile_2000 = read_raster_to_dask_array(path_pop_2000)
    pop_2020, profile_2020 = read_raster_to_dask_array(path_pop_2020)
    
    # Check if the nodata values are consistent between the two datasets
    if profile_2000['nodata'] != profile_2020['nodata']:
        print("Nodata values do not match.")
        return
    
    # calculate the population change, directly specifying the data type
    pop_change = (pop_2020 - pop_2000).astype('float32')
    
    # Prepare the output raster's profile
    profile_2000.update(dtype='float32', count=1, compress='DEFLATE')
    
    # Write the LCLUC change layer to a new raster file
    with rasterio.open(output_path, 'w', **profile_2000) as dst:
        dst.write(pop_change.compute(), 1)

In [13]:
# calculate the population change
calculate_pop_change_layer(pop_2000_fn, pop_2020_fn, output_path)

<ins> Population Change Distribution on LCLUC </ins>

In [14]:
def calculate_popchange_by_lcluc(lclu_change_fn, pop_change_fn, chunks='auto'):
    """
    Calculates the total population change associated with each land cover/land use change class.

    Parameters:
        lclu_change_fn (str): File path to the land cover/land use change raster.
        pop_change_fn (str): File path to the population change raster.
        chunks (str or tuple, optional): Chunk size for Dask arrays. Default is 'auto'.

    Returns:
        dict: A dictionary where keys are LCLU change classes and values are the total population change.
    """
    
    # Open the LCLU change raster
    #with rasterio.open(lclu_change_fn) as lclu_change_src:
        #lclu_change_data = da.ma.masked_equal(da.from_array(lclu_change_src.read(1), chunks=chunks), lclu_change_src.nodatavals[0])
    
    # Open the LCLU change raster
    lclu_change_data, profile_lclu = read_raster_to_dask_array(lclu_change_fn)

    # Open the population change raster
    #with rasterio.open(pop_change_fn) as pop_change_src:
        #pop_change_data = da.ma.masked_equal(da.from_array(pop_change_src.read(1), chunks=chunks), pop_change_src.nodatavals[0])
    
    # Open the population change raster
    pop_change_data, profile_pop = read_raster_to_dask_array(pop_change_fn)

    # Get unique LCLU change classes from the matrix
    unique_lclu_changes = da.unique(lclu_change_data).compute()

    # Initialize a dictionary to hold the total population change for each LCLU change class
    population_change_distribution = {lclu_change: 0 for lclu_change in unique_lclu_changes}

    # Calculate the total population change for each LCLU change class
    for lclu_change in unique_lclu_changes:
        mask = lclu_change_data == lclu_change  # Create a mask for the current LCLU change class
        # Use the mask to select the corresponding population changes and sum them up
        population_change_distribution[lclu_change] = pop_change_data[mask].sum().compute()

    return population_change_distribution

In [15]:
# specify the path
lcluc_fn = './data/lclu/LCLUC_2000_2020_United_Arab_Emirates.tif'
popc_fn = './data/population/ghspop_change_2000_2020_United_Arab_Emirates_30m.tif'

In [16]:
# run the analysis to calculate pop distribution on lcluc
pop_by_lcluc = calculate_popchange_by_lcluc(lcluc_fn, popc_fn)

In [17]:
pop_by_lcluc

{11: 2580958.5,
 21: 6442.804,
 22: 488.89114,
 23: 1293.0299,
 24: 7240.669,
 25: 0.0,
 31: 21720.576,
 32: 181.72961,
 33: 2849.0957,
 34: 10160.277,
 35: 625.0857,
 41: 2808271.0,
 42: 640.39087,
 43: 4913.4995,
 44: 492916.44,
 45: 8193.696,
 51: 14480.426,
 52: 3.4773831,
 53: 36.653885,
 54: 5663.8716,
 55: 17412.41,
 255: masked}

In [18]:
# Create a pandas DataFrame to store the results
df_pop_change = pd.DataFrame(list(pop_by_lcluc.items()), columns=['LCLUC_Class', 'Pop_Change'])
df_pop_change

    LCLUC_Class    Pop_Change
0            11     2580958.5
1            21   6442.804199
2            22    488.891144
3            23   1293.029907
4            24   7240.668945
5            25           0.0
6            31  21720.576172
7            32    181.729614
8            33   2849.095703
9            34  10160.277344
10           35    625.085693
11           41     2808271.0
12           42    640.390869
13           43   4913.499512
14           44   492916.4375
15           45   8193.696289
16           51  14480.425781
17           52      3.477383
18           53     36.653885
19           54   5663.871582
20           55  17412.410156
21          255            --

In [19]:
# Mapping from class description to numerical code
class_mapping = {'Built Up': 1, 'Cropland': 2, 'Vegetation': 3, 'Barren': 4, 'Water': 5}

In [20]:
# Generate LCLUC codes for the area change DataFrame
melted_df['LCLUC_Code'] = melted_df.apply(
    lambda row: 10 * class_mapping[row['class_2000']] + class_mapping[row['class_2020']], axis=1)

melted_df

    class_2000  class_2020  area_change  LCLUC_Code
0     Built Up    Built Up      1856.57          11
1     Cropland    Built Up        82.18          21
2   Vegetation    Built Up       123.91          31
3       Barren    Built Up      2541.11          41
4        Water    Built Up        52.37          51
5     Built Up    Cropland         0.00          12
6     Cropland    Cropland        29.22          22
7   Vegetation    Cropland         6.91          32
8       Barren    Cropland        69.53          42
9        Water    Cropland         0.07          52
10    Built Up  Vegetation         0.00          13
11    Cropland  Vegetation        53.86          23
12  Vegetation  Vegetation       142.72          33
13      Barren  Vegetation       198.28          43
14       Water  Vegetation        15.89          53
15    Built Up      Barren         0.00          14
16    Cropland      Barren       246.47          24
17  Vegetation      Barren       211.45          34
18      Barren      Barren     85071.66          44
19       Water      Barren       180.20          54
20    Built Up       Water         0.00          15
21    Cropland       Water         0.01          25
22  Vegetation       Water         9.30          35
23      Barren       Water       223.93          45
24       Water       Water     12187.05          55

In [21]:
# Merge the population data into the area change DataFrame using LCLUC codes
df_combined = melted_df.merge(df_pop_change, left_on='LCLUC_Code', right_on='LCLUC_Class', how='left')

df_combined

    class_2000  class_2020  area_change  LCLUC_Code  LCLUC_Class    Pop_Change
0     Built Up    Built Up      1856.57          11         11.0     2580958.5
1     Cropland    Built Up        82.18          21         21.0   6442.804199
2   Vegetation    Built Up       123.91          31         31.0  21720.576172
3       Barren    Built Up      2541.11          41         41.0     2808271.0
4        Water    Built Up        52.37          51         51.0  14480.425781
5     Built Up    Cropland         0.00          12          NaN           NaN
6     Cropland    Cropland        29.22          22         22.0    488.891144
7   Vegetation    Cropland         6.91          32         32.0    181.729614
8       Barren    Cropland        69.53          42         42.0    640.390869
9        Water    Cropland         0.07          52         52.0      3.477383
10    Built Up  Vegetation         0.00          13          NaN           NaN
11    Cropland  Vegetation        53.86          23         23.0   1293.029907
12  Vegetation  Vegetation       142.72          33         33.0   2849.095703
13      Barren  Vegetation       198.28          43         43.0   4913.499512
14       Water  Vegetation        15.89          53         53.0     36.653885
15    Built Up      Barren         0.00          14          NaN           NaN
16    Cropland      Barren       246.47          24         24.0   7240.668945
17  Vegetation      Barren       211.45          34         34.0  10160.277344
18      Barren      Barren     85071.66          44         44.0   492916.4375
19       Water      Barren       180.20          54         54.0   5663.871582
20    Built Up       Water         0.00          15          NaN           NaN
21    Cropland       Water         0.01          25         25.0           0.0
22  Vegetation       Water         9.30          35         35.0    625.085693
23      Barren       Water       223.93          45         45.0   8193.696289
24       Water       Water     12187.05          55         55.0  17412.410156

In [22]:
# Drop the 'LCLUC_Class' column
df_combined.drop('LCLUC_Class', axis=1, inplace=True)

# Reorder columns to make 'LCLUC_Code' the third column
columns = df_combined.columns.tolist()
columns.insert(2, columns.pop(columns.index('LCLUC_Code')))
df_clean = df_combined[columns].copy()

# Fill NaN values with 0 in the 'Pop_Change' column
df_clean['Pop_Change'].fillna(0, inplace=True)

print(df_combined)

    class_2000  class_2020  area_change  LCLUC_Code    Pop_Change
0     Built Up    Built Up      1856.57          11     2580958.5
1     Cropland    Built Up        82.18          21   6442.804199
2   Vegetation    Built Up       123.91          31  21720.576172
3       Barren    Built Up      2541.11          41     2808271.0
4        Water    Built Up        52.37          51  14480.425781
5     Built Up    Cropland         0.00          12           NaN
6     Cropland    Cropland        29.22          22    488.891144
7   Vegetation    Cropland         6.91          32    181.729614
8       Barren    Cropland        69.53          42    640.390869
9        Water    Cropland         0.07          52      3.477383
10    Built Up  Vegetation         0.00          13           NaN
11    Cropland  Vegetation        53.86          23   1293.029907
12  Vegetation  Vegetation       142.72          33   2849.095703
13      Barren  Vegetation       198.28          43   4913.499512
14       Water  Vegetation        15.89          53     36.653885
15    Built Up      Barren         0.00          14           NaN
16    Cropland      Barren       246.47          24   7240.668945
17  Vegetation      Barren       211.45          34  10160.277344
18      Barren      Barren     85071.66          44   492916.4375
19       Water      Barren       180.20          54   5663.871582
20    Built Up       Water         0.00          15           NaN
21    Cropland       Water         0.01          25           0.0
22  Vegetation       Water         9.30          35    625.085693
23      Barren       Water       223.93          45   8193.696289
24       Water       Water     12187.05          55  17412.410156

In [23]:
df_combined.to_csv('data.csv')